modules = ["python-3.11"]
[nix]
channel = "stable-24_05"
packages = ["glibcLocales", "libxcrypt"]

[workflows]

[[workflows.workflow]]
name = "Run Schedule Optimizer"
author = 41300902
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python schedule_optimizer.py"
